:root {
  /*
  ---------------------------------------------------
    Albino color palette link↴
    https://www.color-hex.com/color-palette/50758
  ---------------------------------------------------
  */
  --snow: #f2f2f2;
  --grey: #c9c9c9;
  --pink: #73a6a6;
  --blue: #b8dfee;
  --cyan: #79a9b0;
}

body {
  background-color: var(--pink);
}

nav, div{
  background-color: var(--snow);
}
