:root {
  /*
  ---------------------------------------------------
    Albino color palette link↴
    https://www.color-hex.com/color-palette/50758
  ---------------------------------------------------
  */
  --snow: #f2f2f2;
  --grey: #c9c9c9;
  --pink: #c3a6a6;
  --blue: #b8dfee;
  --cyan: #79A9B0;

  /*
    additional colors
  */
  --bb_pink: #E1D2D2;
  --white:   #ffffff;

}

body {
  background-color: var(--bb_pink);
}

nav, div{
  background-color: var(--white);
  padding: auto;
  margin: 12pt;
}
